<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!-- В консоль -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="ONLY-FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>c:/log/task14_debug_file.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>c:/log/task14_debug_file.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="com.epam.rd.Application" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ONLY-FILE"/>
    </logger>


    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ONLY-FILE"/>
    </root>
</configuration>